.form {
   display: flex;
   flex-wrap: wrap;
   gap: var(--spacing-300);
}

.form__fieldset {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-150);

   width: 100%;
   border: none;
}

.form__legend {
   margin-bottom: var(--spacing-150);
}

.form__fieldset--100-50 {
   width: 100%;
}

.form__input-box {
   display: flex;
   align-items: center;

   height: 3rem;

   outline: solid .0625rem var(--slate-500);
   border-radius: .25rem;
}

.form__label {
   display: flex;
   align-items: center;

   height: 100%;

   font-size: 1.125rem;
   font-weight: 700;
}

.form__label--intern {
   padding-inline: var(--spacing-200);
   background-color: var(--slate-100);
}

.form__label--extern {
   color: var(--slate-900);
}

.form__input {
   width: 100%;
   height: 100%;

   padding-inline: var(--spacing-200);

   font-size: 1.125rem;
   font-weight: 700;
   color: var(--slate-900);
}

.form__radio {
   position: relative;
   appearance: unset;

   width: 1.25rem;
   height: 1.25rem;

   margin-inline: var(--spacing-200);
}

.form__radio::after {
   position: absolute;
   content: "";

   width: 1.25rem;
   height: 1.25rem;

   border: solid .125rem var(--slate-700);
   border-radius: 50rem;
}

.form__radio::before {
   position: absolute;
   top: 25%;
   left: 25%;
   content: "";

   width: 50%;
   height: 50%;

   border-radius: 50rem;
}

.form__input-box:has(.form__radio:checked) {
   outline-color: var(--lime);
}

.form__radio:checked {
   &::after {
      border-color: var(--lime);
   }

   &::before {
      background-color: var(--lime);
   }
}

.form__radio:focus-visible {
   &::after {
      border-color: black;
   }

   &::before {
      background-color: black;
   }
}

@media (width >= 48rem) {
   .form__fieldset--100-50 {
      width: calc(50% - var(--spacing-300) / 2);
   }
}