.text--1 {
   font-size: clamp(2.5rem, 10vw, 3.5rem);
   font-weight: 700;
   line-height: 125%;
}

.text--2 {
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 125%;
}

.text--3 {
   font-size: 1.125rem;
   line-height: 125%;
}

.text--4 {
   font-size: .875rem;
}

.text--center {
   text-align: center;
}

.text--slate-900 {
   color: var(--slate-900);
}

.text--slate-300 {
   color: var(--slate-300);
}

.text--white {
   color: var(--white);
}

.text--lime {
   color: lime;
}