@import url("variables.css");
@import url("components.css");
@import url("typography.css");

/*   Reset   */

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font: inherit;
   color: inherit;
}

html {
   scroll-behavior: smooth;

   font-family: var(--font-family);
   font-size: 1rem;
   font-weight: 500;
   line-height: 150%;
   letter-spacing: 0%;
   color: var(--slate-700);
}

body {
   min-height: 100vh;
   align-content: center;
   justify-items: center;
   background-color: var(--slate-100);
}

button {
   border: none;
   background-color: transparent;
}

fieldset {
   border: none;
}

/*    Calculator   */

.main {
   background-color: var(--white);
}

.header {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: var(--spacing-100);

   margin-bottom: var(--spacing-300);
}

.calculator {
   padding: var(--spacing-400) var(--spacing-300);
}

.calculator__form__grup {
   display: flex;
   flex-wrap: wrap;
   gap: var(--spacing-300);
}

.calculator__form__item {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-150);

   width: 100%;
}

.calculator__input__box {
   overflow: hidden;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;

   height: 3rem;

   outline: solid .0625rem var(--slate-500);
   border-radius: .25rem;
}

.calculator__input {
   width: 100%;
   height: 100%;

   padding-inline: var(--spacing-200);
   border: none;
}

.calculator__input:focus {
   outline: none;
}

.calculator__input__box:has(.calculator__input:focus) {
   outline-color: var(--lime);
}

.calculator__input__box:has(.calculator__input:focus) .calculator__input__name {
   color: var(--slate-900);
}

.calculator__input[type="radio"] {
   position: relative;
   appearance: none;

   width: 1.21875rem;
   height: 1.21875rem;

   margin-inline: var(--spacing-200);
   padding: 0;
}

.calculator__input[type="radio"]::after {
   position: absolute;
   top: 0;
   left: 0;
   content: "";

   width: 100%;
   height: 100%;

   border: solid .125rem var(--slate-700);
   border-radius: 50rem;
}

.calculator__input[type="radio"]::before {
   position: absolute;
   top: 25%;
   left: 25%;
   content: "";

   width: 50%;
   height: 50%;

   border-radius: 50rem;

   background-color: var(--lime);

   transform: scale(0);
}

.calculator__input[type="radio"]:checked::before, .calculator__input[type="radio"]:checked::after, .calculator__input__box:has(.calculator__input[type="radio"]:checked) {
   transform: scale(1);
   border-color: var(--lime);
   outline-color: var(--lime);
}

.calculator__input__name {
   display: block;
   height: 100%;

   padding: var(--spacing-150) var(--spacing-200);
   background-color: var(--slate-100);

   line-height: normal;
}

.calculator__form__btn {
   margin-top: var(--spacing-300);
}

/*    Result   */

.result {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-200);

   padding: var(--spacing-400) var(--spacing-300);

   background-color: var(--slate-900);

   & img {
      margin-inline: auto;
   }
}

.result__text {
   margin-bottom: var(--spacing-100);
}

.result__box {
   display: flex;
   flex-direction: column;

   padding: var(--spacing-300) var(--spacing-200);
   border-top: solid .25rem var(--lime);
   border-radius: .5rem;

   background-color: rgba(0, 0, 0, 0.25);

   & div {
      width: 100%;
      height: .0625rem;
      background-color: rgba(154, 190, 213, 0.25);

      margin: var(--spacing-200) 0;
   }

   & p {
      margin-bottom: var(--spacing-100);
   }
}

@media (width >= 48rem) {
   .main {
      overflow: hidden;
      margin: var(--spacing-500);
      border-radius: 1.5rem;
   }

   .calculator, .result {
      padding: var(--spacing-500);
   }

   .calculator__form__item:nth-child(2),
   .calculator__form__item:nth-child(3) {
      width: calc(50% - var(--spacing-150));
   }

   .header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin-bottom: var(--spacing-500);
   }

   .calculator__form__btn {
      margin-top: var(--spacing-500);
   }

   .result__text {
      margin-bottom: var(--spacing-300);
   }

   .result__box {
      padding: var(--spacing-400);

      & div {
         margin: var(--spacing-400) 0;
      }
   }
}

@media (width >= 64rem) {
   .main {
      display: flex;
      max-width: 63rem;
   }

   .calculator, .result {
      justify-content: center;
      width: 50%;
   }

   .result {
      border-radius: 0 0 0 5rem;
   }
}