@import url("variables.css");
@import url("components.css");
@import url("typography.css");

/*   Reset   */

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font: inherit;
   color: inherit;
}

html {
   scroll-behavior: smooth;

   font-family: var(--font-family);
   font-size: 1rem;
   font-weight: 500;
   line-height: 150%;
   letter-spacing: 0%;
   color: var(--slate-700);
}

body {
   background-color: var(--slate-100);
}

button {
   border: none;
   background-color: transparent;
}

fieldset {
   border: none;
}

/*    Calculator   */

.header {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: var(--spacing-100);

   margin-bottom: var(--spacing-300);
}

.calculator {
   padding: var(--spacing-400) var(--spacing-300);

   background-color: var(--white);
}

.calculator__form__grup {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-300);
}

.calculator__form__item {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-150);
}

.calculator__input__box {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;

   height: 3rem;

   outline: solid .0625rem var(--slate-500);
   border-radius: .25rem;
}

.calculator__input {
   width: 100%;
   height: 100%;

   padding-inline: var(--spacing-200);
   border: none;
}

.calculator__input[type="radio"] {
   position: relative;
   appearance: none;

   width: 1.21875rem;
   height: 1.21875rem;

   margin-inline: var(--spacing-200);
   padding: 0;
}

.calculator__input[type="radio"]::after {
   position: absolute;
   top: 0;
   left: 0;
   content: "";

   width: 100%;
   height: 100%;

   border: solid .125rem var(--slate-700);
   border-radius: 50rem;
}

.calculator__input[type="radio"]::before {
   position: absolute;
   top: 25%;
   left: 25%;
   content: "";

   width: 50%;
   height: 50%;

   border-radius: 50rem;

   background-color: var(--lime);

   transform: scale(0);
}

.calculator__input[type="radio"]:checked::before, .calculator__input[type="radio"]:checked::after, .calculator__input__box:has(.calculator__input[type="radio"]:checked) {
   transform: scale(1);
   border-color: var(--lime);
   outline-color: var(--lime);
}

.calculator__input__name {
   display: block;

   padding: var(--spacing-150) var(--spacing-200);
   background-color: var(--slate-100);

   line-height: normal;
}

.calculator__form__btn {
   margin-top: var(--spacing-300);
}

/*    Result   */

.result {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-200);

   padding: var(--spacing-400) var(--spacing-300);

   background-color: var(--slate-900);
}