.text {
   font-family: var(--font-family);
   font-size: 1rem;
   font-weight: 500;
   line-height: 150%;
   letter-spacing: 0%;
}

.text--1 {
   font-size: 2.5rem;
   font-weight: 800;
   line-height: auto;
}

.text--2 {
   font-size: 1.5rem;
   font-weight: 800;
   line-height: 125%;
}

.text--3 {
   font-size: 1.125rem;
   font-weight: 800;
   line-height: 125%;
}

.text--4 {
   font-size: 0.875rem;
   line-height: 150%;
}

.text--slate-900 {
   color: var(--slate-900);
}

.text--slate-700 {
   color: var(--slate-700);
}

.text--slate-300 {
   color: var(--slate-300);
}

.text--white {
   color: var(--white);
}