.text--1 {
   font-size: 2.5rem;
   font-weight: 800;
   line-height: 100%;
}

.text--2 {
   font-size: 1.5rem;
   font-weight: 800;
   line-height: 125%;
}

.text--3 {
   font-size: 1.125rem;
   font-weight: 800;
   line-height: 125%;
}

.text--4 {
   font-size: 0.875rem;
}

.text--center {
   text-align: center;
}

.text--slate-900 {
   color: var(--slate-900);
}

.text--slate-700 {
   color: var(--slate-700);
}

.text--slate-300 {
   color: var(--slate-300);
}

.text--white {
   color: var(--white);
}

.text--lime {
   color: var(--lime);
}

@media (width >= 48rem) {
   .text--1 {
      font-size: 3.5rem;
   }
}