.main {
   max-width: 63rem;
   background-color: var(--white);
}

.calculator {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-300);

   padding: var(--spacing-400) var(--spacing-300);
}

.calculator__header {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-100);
}

.calculator__button {
   position: relative;
   width: fit-content;
   
   text-decoration: underline;
}

.result {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: var(--spacing-200);

   padding: var(--spacing-400) var(--spacing-300);
   background-color: var(--slate-900);
}

.result__title {
   width: 100%;
}

.result__text {
   margin-bottom: var(--spacing-100);
}

.result__box {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-100);

   width: 100%;

   margin-bottom: auto;
   padding: var(--spacing-300) var(--spacing-200);
   border-top: solid .25rem var(--lime);
   border-radius: .5rem;
   background-color: var(--bg-result);
}

.result__div {
   height: .0625rem;
   background-color: var(--slate-700);

   margin-block: var(--spacing-100);
   border: none;
}

@media (width >= 48rem) {
   .main {
      overflow: hidden;

      border-radius: 1.5rem;
   }

   .calculator__header {
      flex-direction: row;
      align-items: first baseline;
      justify-content: space-between;
   }

   .calculator {
      gap: var(--spacing-500);
      padding: var(--spacing-500);
   }
   
   .form__button {
      margin-top: var(--spacing-200);
   }

   .result {
      padding: var(--spacing-500);
   }

   .result__text {
      margin-bottom: var(--spacing-300);
   }

   .result__box {
      padding: var(--spacing-400);
   }

   .result__div {
      margin-block: var(--spacing-300);
   }
}

@media (width >= 64rem) {
   .main {
      display: flex;
   }

   .calculator {
      width: 50%;
   }

   .result {
      width: 50%;
      border-radius: 0 0 0 5rem;
   }
}